<head>
  <meta charset="UTF-8">
  <title>Blog Site</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
</head>

<body style="margin: 0px">
  <header>
    <ul id="navBar">
      <li><a href="/api/test">Home</a></li>
      <li><a href="#dashboard">Dashboard</a></li>
      <li><a href="#logout">Logout</a></li>
    </ul>
    <h1>The Blog Site</h1>    
  </header>

  <main>
    {{{ body }}}
  </main>
  </body>
</html>